<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSS</title>
    <link rel="stylesheet" href="css/index.css">
    <script language="JavaScript" src="js/index.js"></script>
</head>
<body>
    <div id="div_container">
        <div id="div_fruit_list">
            <p class="center f30">欢迎使用水果库存后台管理系统</p>
            <div class="inFont">
                <form th:action="@{/index}" method="post" id="sea_from" >
                    <input type="hidden" name="oper" value="search"/>
                    请输入关键字：<input type="text" name="keyword" th:value="${session.keyword}"/>
                    <input type="submit" value="查询" />
                </form>
                <a th:href="@{/add.html}" class="addFont">添加新库存记录</a>
            </div>
            <table id="tbl_fruit">
                <tr>
                    <th>名称</th>
                    <th>单价</th>
                    <th>库存</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(session.fruitList)}">
                    <td colspan="4">对不起，库存为空</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(session.fruitList)}" th:each="fruit : ${session.fruitList}">
                    <td ><a class="delU" th:text="${fruit.fname}" th:href="@{/edit.do(fid=${fruit.fid})}"></a></td>
                    <td th:text="${fruit.price}"></td>
                    <td th:text="${fruit.fcount}"></td>
                    <!--<td><img src="imgs/del.jpg" class="delImg" th:onclick="'delFruit('+${fruit.fid}+')'"/></td>-->
                    <td><img src="imgs/del.jpg" class="delImg" th:onclick="|delFruit(${fruit.fid})|"/></td>
                </tr>
            </table>
            <div class="pageButton">
                <input type="button" value="首  页" th:onclick="|page(1)|" th:disabled="${session.pageNum==1}"/>
                <input type="button" value="上一页" th:onclick="|page(${session.pageNum-1})|" th:disabled="${session.pageNum==1}"/>
                <input type="button" value="下一页" th:onclick="|page(${session.pageNum+1})|" th:disabled="${session.pageNum==session.pageCount}"/>
                <input type="button" value="尾  页" th:onclick="|page(${session.pageCount})|" th:disabled="${session.pageNum==session.pageCount}"/>
            </div>
        </div>
    </div>
</body>
</html>